.generation-page{
    display: flex;
    min-height: 100vh;
}

.generation-description{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.generation-block{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;

    height: 500px;
    width: 800px;
    max-width: 100%;
    background-color: rgba(143, 255, 214, .7);
    color: black;
    border: 1px solid lightgray;
    border-radius: 10%;
}